.footer {
  width: 100%;
  padding: 2%;
  bottom: 0;
  background-color: #454030;
  padding: 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 4.4rem;

}

.footer p{
  color: aliceblue;
}