body {
  font-family: Arial, sans-serif;
}

main {
  padding-bottom: 10%;
}

main>* {
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;

  color: rgb(251, 24, 38);
  font-family: Satisfy;
  font-size: 52px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 3%;
}

.h3 h3 {
  color: rgb(0, 0, 0);
  font-family: Satisfy;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top: 6%;
}

table {
  border-spacing: 6rem;
  font-family: "Kosugi", sans-serif;
}

/*--------------contents-------------------*/
/*--------------piza-------------------*/

.piza_menu_contents {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.img_01 img {
  width: 100%;
  padding-bottom: 5%;
}

.img_02 img {
  width: 100%;
}


.piza_menu_contents table {
  width: 90%;
  line-height: 2rem;
  display: table;
  text-align: left;
  font-family: "Kosugi", sans-serif;
}

.piza_menu_contents tr :nth-child(1) {
  font-size: 0.9rem;
}


/*--------------pasta-------------------*/

.pasta_menu_contents {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.pasta_menu_contents table {
  width: 93%;
  line-height: 2rem;
  display: table;
  text-align: left;
  font-family: "Kosugi", sans-serif;
}

.pasta_menu_contents td {
  font-size: 0.9rem;
}

.pasta_menu_contents img {
  width: 100%;
}

/*--------------dezzart-------------------*/

.dezzart_menu_contents {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}


.dezzart_menu_contents table {
  width: 90%;
  line-height: 2rem;
  display: table;
  justify-content: unset;
  text-align: left;
  font-family: "Kosugi", sans-serif;
}

.dezzart_menu_contents td {
  font-size: 0.9rem;
}

.dezzart_menu_contents tr :nth-child(2) {
  width:19%;
}

.dezzart_menu_contents img {
  width: 100%;
}

/*--------------drink-------------------*/

.drink_menu_contents {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding-bottom: 6%;
}


.drink_menu_contents table {
  left: 5%;
  width: 90%;
  line-height: 2rem;
  display: table;
  justify-content: unset;
  text-align: left;
  font-family: "Kosugi", sans-serif;
}

.drink_menu_contents td {
  font-size: 0.9rem;
}

.drink_menu_contents tr :nth-child(2) {
  width: 18%;
}

.drink_menu_contents img {
  width: 100%;
}